<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Favorite Book App</title>
  </head>
  <body>
    <div class="container mt-5">
        <h3>Book List</h3>
        <a href="/book/add" class="btn btn-sm btn-primary">Add book</a>
        <hr />
        
        <table class="table table-sriped table-hover">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Book Author</th>
                    <th>Book Year</th>
                    <th>Book Description</th>
                    <th>Book Rating</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{ range .book }}
                    <tr>
                        <td>{{ .BookTitle}}</td>
                        <td>{{ .BookAuthor}}</td>
                        <td>{{ .BookYear}}</td>
                        <td>{{ .BookDescription}}</td>
                        <td>{{ .BookRating}}</td>
                        <td>
                            <a href="/book/edit?id={{ .Id }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/book/delete?id={{ .Id }}" onclick="return confirm('Are you sure you want to delete this book?')" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {{ end }}

                
            </tbody>




        </table>
    </div>
  </body>
</html>